.buybtn__container {
  position: relative;
}
.product__list {
  margin-top: 5rem;
}
.prod__incart {
  display: flex;
  flex: 1;
  /* min-width: calc(min(380px, 100vw)); */
  border-bottom: 1px solid rgb(220, 220, 220);
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.cart__img {
  width: 6em;
  height: 6em;
  border-radius: 1em;
}
.prod__incart {
  display: flex;
  flex: 1;
  /* min-width: calc(min(380px, 100vw)); */
  border-bottom: 1px solid rgb(220, 220, 220);
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.cart__tool {
  border: 1px solid rgb(220, 220, 220);
  padding: 2px 6px;
  background-color: #0d7c0d;
  color: #fff;
  border-radius: 4px;
  /* font-size: 1.25em; */
  float: end;
  cursor: pointer;
}
