.prod__dtls {
  margin-bottom: 3em;
}
.img__main {
  /* width: 300px; */
  max-width: 500px;
  width: 100%;
  aspect-ratio: 16/9;
  padding: 1em 1em;
  box-shadow: 0px 0px 2px 2px rgb(220, 220, 220);
  border-radius: 8px;
}
.other__img_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.other__img {
  width: calc(min(300px, 90vw));
  margin-bottom: 1em;
  box-shadow: 0 0 2px 2px rgb(220, 220, 220);
  border-radius: 8px;
  aspect-ratio: 3/2;
}
.btn__add {
  width: 100%;
}
.text {
    line-height: normal;
}

@media screen and (max-width: 576px) {
  .other__img {
    width: 300px !important;
  }
}
@media screen and (min-width: 576px) {
  .btn__add {
    width: 300px;
  }
}
