.product__grid-container {
  min-width: 320px;
  display: grid;
  grid-template-columns: auto;
  row-gap: 2em;   
  justify-content: center;
  /* margin-top: 1rem; */
}
.griditem1 {
  grid-column: 1 span 2;
}
.product__card {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 0.25em;
}
.product__img {
  /* height: 100%; */
  max-height: var(--w300);
  width: 100%;
  object-fit: contain;
  aspect-ratio: 16/9;
}
.yellow__star {
  color: orange;
}
.img__main {
  /* width: 300px; */
  max-width: 500px;
  width: 100%;
  aspect-ratio: 16/9;
  padding: 1em 1em;
  box-shadow: 0px 0px 2px 2px rgb(220, 220, 220);
  border-radius: 8px;
}

.btn__add {
  width: 100%;
}
.text {
  line-height: normal;
}

@media screen and (max-width: 576px) {
  .other__img {
    width: 300px !important;
  }
}
@media only screen and (min-width: 576px) {
  .product__grid-container {
    grid-template-columns: auto auto;
    row-gap: 2em;
    column-gap: 2em;
    padding: 0;
  }
  .btn__add {
    width: 300px;
  }
}
@media only screen and (min-width: 992px) {
  .product__grid-container {
    grid-template-columns: auto auto auto;
  }
}
