.search__modal {
  /* display: none; */ /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 3em; /* Location of the box */
  left: 0;
  top: 0;
  /* min-width: 100px;
  min-height: 100px; */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal__content {
  background-color: #fefefe;
  margin: auto;
  /* margin-left: 0.5em; */
  padding: 0.5em;
  border: 1px solid #888;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  width: 100vw;
}
.user__input {
  z-index: 2;
  border: 0;
}
.user__input:focus {
  box-shadow: none;
}
.form-control::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.searchList {
  /* width: 100%; */
  /* border: 1px solid rgb(220, 220, 220); */
  /* border-radius: 0.5em; */
  /* z-index: 2; */
  /* background-color: #fff; */
  color: grey;
  /* position: absolute;
  top: 3em;
  left: 4em; */
  /* padding: 1em; */
  /* padding-top: 0; */
  /* border-bottom-right-radius: .25em; */
  /* border-bottom-left-radius: .25em; */
  /* padding-right: 0; */
  /* margin: 1em; */
}
.searchList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.searchList a {
  text-decoration: none;
  color: #888;
  font-size: 0.75rem;
  font-weight: 300;
}
.searchList li {
  font-weight: 400;
}
.searchList li:hover {
  background-color: grey;
  color: #fff;
  cursor: pointer;
}
.listitem {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  white-space: pre-wrap;
}

@media only screen and (min-width: 480px) {
  .searchList a {
    font-size: 1rem;
  }
  .modal__content {
    /* max-width: 500px; */
  }
}
