.navbar {
  /* background-color: #3700be; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0a66c2;
  font-weight: bold;
}
.topnav {
  margin-bottom: 1em;
}
.bottomnav {
  /* margin-top: 3em; */
}
.loggedinuser:hover {
  /* font-size: 30; */
  /* zoom: 1.2; */
}
.popoverbox {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  /* transform: translate(0, 10px); */
}
.loggedinuser:hover .popoverbox {
  opacity: 1;
  visibility: visible;
  color: white;
  position: relative;
}
