.navbar {
  padding: 0.75em;
  background-color: var(--very-dark-blue);
}
.topnav {
  margin-bottom: 1em;
}
.bottomnav {
}
.loggedinuser:hover {
  /* font-size: 30; */
  /* zoom: 1.2; */
}
.popoverbox {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  /* transform: translate(0, 10px); */
}
.loggedinuser:hover .popoverbox {
  opacity: 1;
  visibility: visible;
  color: white;
  position: relative;
}
