.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #343a40 !important; */
  /* background-color: #3700be; */
  background-color: #0a66c2;
  overflow-x: hidden;
  transition: 0.5s ease-out;
  padding-top: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.25rem;
  color: #f1f1f1 !important;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
  background-color: blue;
}

.sidenav .closebtn {
  font-size: 36px;
  color: white;
  text-decoration: none;
}

.navicon {
  /* margin-left: 2rem; */
  font-size: 2rem;
  /* height: 80px; */
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  background-color: yellowgreen;
}

.sidenav__btn,
.sidenav__btn::before,
.sidenav::after {
  background-color: #0a66c2 !important;
  border-color: #0a66c2 !important;
}

.offcanvas {
  max-width: 60% !important;
  background-color: #0a66c2 !important;
  color: #fff;
}
.offcanvas a {
  color: #fff !important;
}
.offcanvas a:hover {
  font-weight: bold;
}

/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */
