/* .product__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em;
} */

.main__header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #3700be;
  color: white;
  font-weight: bold;
}
.main__header .a {
  color: white;
}

