/* .product__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em;
} */

.main__header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #3700be;
  color: white;
  font-weight: bold;
}
.main__header .a {
  color: white;
}

@media only screen and (min-width: 576px) {
  .product__grid-container {
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 992px) {
  .product__grid-container {
    grid-template-columns: auto auto auto;
  }
}
