/* .product__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em;
} */
.product__grid-container {
  display: grid;
  grid-template-columns: auto;
  row-gap: 1em;
  column-gap: 1em;
  justify-content: center;
  /* margin-top: 1rem; */
}
.product__card {
  width: 100%;
  padding: 0 1em;
}
.product__img {
  /* height: 100%; */
  max-height: 300px;
  width: 100%;
  object-fit: contain;
  /* aspect-ratio: 16/9; */
}
.yellow__star {
  color: orange;
}
.main__header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #3700be;
  color: white;
  font-weight: bold;
}
.main__header .a {
  color: white;
}
.cart__img {
  width: 6em;
  height: 6em;
  border-radius: 1em;
}
.prod__incart {
  display: flex;
  flex: 1;
  min-width: 380px;
  border-bottom: 1px solid rgb(220, 220, 220);
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.cart__tool {
  border: 1px solid rgb(220, 220, 220);
  padding: 2px 6px;
  background-color: #0d7c0d;
  color: #fff;
  border-radius: 4px;
  font-size: 1.25em;
  float: end;
}

@media only screen and (min-width: 576px) {
  .product__grid-container {
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 992px) {
  .product__grid-container {
    grid-template-columns: auto auto auto;
  }
}
